@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
/* top | right | bottom | left */
body {
  font-family: "Tajawal", Arial, sans-serif;
  background: #f0f0f0;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  box-sizing: border-box; }

a {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #474646;
  text-decoration: none; }
  a:hover, a:focus {
    color: #474646;
    outline: none !important; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400; }

.oh {
  overflow: hidden !important; }

.ml--2 {
  margin-left: -2px; }

.mr--2 {
  margin-right: -2px; }

.pt-1-added {
  padding-top: 8.1625rem !important; }

.h1-header {
  font-weight: 600;
  font-size: 3rem; }

.bg-nav {
  background-color: #f8f9fa !important; }

.navbar {
  padding: 0; }
  .navbar .container-fluid {
    max-width: 1250px;
    flex-direction: row; }
    .navbar .container-fluid .navbar-brand {
      font-weight: 600;
      font-size: 1.5rem;
      color: #2a4e72; }
      .navbar .container-fluid .navbar-brand span {
        color: #ff2881; }
    .navbar .container-fluid .navbar-collapse {
      flex-direction: row-reverse; }
      .navbar .container-fluid .navbar-collapse .me-auto {
        margin: auto; }
      .navbar .container-fluid .navbar-collapse .navbar-nav {
        flex-direction: row-reverse;
        align-items: center; }
        .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link {
          position: relative;
          color: #34495e;
          font-size: 1.2rem;
          font-weight: 500;
          border-bottom: transparent 2px solid; }
        .navbar .container-fluid .navbar-collapse .navbar-nav .navbar-brand {
          display: none !important; }
        .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link:hover {
          background-color: #d4e4f3;
          border-bottom: #5d5f61 2px solid; }
        .navbar .container-fluid .navbar-collapse .navbar-nav .active {
          color: #2c3e50;
          background-color: #d4e4f3;
          border-bottom: #5d5f61 2px solid; }
        .navbar .container-fluid .navbar-collapse .navbar-nav .disabled {
          color: #bdc3c7; }
    .navbar .container-fluid .btn-group a img {
      object-fit: cover; }
    .navbar .container-fluid .btn-group .dropdown-menu .dropdown-item {
      display: flex;
      align-items: center;
      justify-content: right; }
      .navbar .container-fluid .btn-group .dropdown-menu .dropdown-item i {
        font-size: 1.5rem;
        display: inline-block;
        margin-left: .5rem; }
    .navbar .container-fluid .login {
      margin-left: 1rem;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: 500; }
      .navbar .container-fluid .login:hover {
        color: #3a79b8; }

#header {
  position: relative;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  background-image: linear-gradient(to top, rgba(148, 177, 147, 0.89), rgba(230, 229, 229, 0.925)), url(/img/covid-19.png);
  background-size: cover;
  background-position: top; }
  #header .section-header h1 {
    color: #2a4e72 !important;
    font-size: 4rem;
    font-weight: 600; }
  #header .section-header h2 {
    color: #ff2881 !important;
    font-size: 3rem;
    font-weight: 600; }
  #header .section-header h3 {
    color: #2a4e72 !important;
    font-size: 2rem;
    font-weight: 600; }
  #header .section-wrapper {
    text-align: center; }
  #header #summary {
    overflow: hidden;
    width: 90%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    padding: 1rem;
    background-color: #f7f7f7;
    direction: rtl;
    border-radius: 5px; }
    #header #summary .header {
      font-weight: 500; }
    #header #summary .summary-card {
      display: flex;
      align-items: center; }
      #header #summary .summary-card .img {
        width: 95px; }
      #header #summary .summary-card .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 1rem; }
        #header #summary .summary-card .text h5, #header #summary .summary-card .text h2 {
          padding: 0;
          margin: 0; }
        #header #summary .summary-card .text .title {
          color: #5d5f61; }

#all-summary {
  background-color: #f5f5f5;
  direction: rtl;
  padding: 9rem 0 5rem 0; }
  #all-summary td.new_death {
    background: #34495e;
    color: #fff; }
  #all-summary td.new_case {
    background: #ff6b6b; }
  #all-summary td.new_recovered {
    background: #38ada9;
    color: #fff; }
  #all-summary td.the-contry {
    background: #e7f5f4; }

#test {
  background-color: #fd076d;
  padding: 5rem;
  direction: rtl; }
  #test h1, #test h4, #test h3 {
    color: white; }
  #test h3 {
    font-weight: 500; }
  #test .row .symptom-card {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #test .row .symptom-card .img {
      width: 150px;
      height: 200px; }
      #test .row .symptom-card .img img {
        width: 100%;
        height: 100%; }

#login {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  background-image: linear-gradient(to right bottom, rgba(31, 214, 247, 0.767), rgba(27, 233, 72, 0.808)), url("/img/covid-19.png");
  height: 550px; }
  #login .container .card {
    direction: rtl;
    max-width: 500px;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border-radius: 10px; }
    #login .container .card h3 {
      font-weight: 500;
      color: #5c5a5a; }
    #login .container .card .text-center a {
      color: #3a79b8; }

#register {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  background-image: linear-gradient(to right bottom, rgba(31, 214, 247, 0.767), rgba(27, 233, 72, 0.808)), url("/img/covid-19.png"); }
  #register .container .card {
    direction: rtl;
    max-width: 500px;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border-radius: 10px; }
    #register .container .card h3 {
      font-weight: 500;
      color: #5c5a5a; }
    #register .container .card .text-center a {
      color: #3a79b8; }

#about-header {
  display: block;
  overflow: hidden;
  height: 350px;
  background-color: #f5f5f5; }
  #about-header .container-fluid {
    padding: 0;
    position: absolute; }
    #about-header .container-fluid .image {
      background-color: #353535;
      display: block;
      overflow: hidden;
      width: 50%;
      height: 100%;
      float: left; }
      #about-header .container-fluid .image img {
        display: block;
        width: 100%;
        height: 350px; }
    #about-header .container-fluid .text {
      padding-left: 2rem !important;
      padding-right: 2rem !important;
      direction: rtl;
      width: 50%;
      float: right; }
      #about-header .container-fluid .text h1 {
        font-weight: 500; }

#footer {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  background-color: #353535; }
  #footer .container h5 {
    color: #e7f5f4; }
  #footer .container .social-Media {
    display: flex;
    justify-content: center; }
    #footer .container .social-Media a {
      margin-left: 1rem !important;
      margin-right: 1rem !important; }
      #footer .container .social-Media a img {
        width: 2rem;
        height: 2rem; }

#slider {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important; }
  #slider h1 {
    font-weight: 500;
    margin-bottom: 2rem; }
  #slider .card {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent; }
    #slider .card .img {
      width: 180px;
      height: 200px; }
    #slider .card .card-body h5 {
      font-weight: 500; }

#about-programmer {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  background-color: white; }
  #about-programmer .container .text-center {
    font-weight: 500; }
  #about-programmer .container .row .card .img {
    width: 150px;
    height: 150px; }
    #about-programmer .container .row .card .img img {
      object-fit: cover;
      width: 100%;
      height: 100%; }

@media screen and (max-width: 991px) {
  .navbar {
    padding: 0; }
    .navbar .container-fluid {
      padding: 0; }
      .navbar .container-fluid .navbar-brand {
        display: none; }
      .navbar .container-fluid .navbar-collapse .navbar-nav {
        display: block;
        text-align: center; }
        .navbar .container-fluid .navbar-collapse .navbar-nav .navbar-brand {
          display: block !important; }
      .navbar .container-fluid .btn-group {
        margin-left: 1rem; }
      .navbar .container-fluid .navbar-toggler {
        margin: .5rem;
        margin-left: 1rem; }
      .navbar .container-fluid .navbar-toggler:focus {
        box-shadow: 0px 0px 5px #5d5f61; }
  #about-header {
    height: 450px; }
    #about-header .container-fluid {
      position: relative; }
      #about-header .container-fluid .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 450px;
        z-index: 1; }
        #about-header .container-fluid .image img {
          display: block;
          width: 100%;
          height: 450px; }
      #about-header .container-fluid .image::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #070f18ef;
        z-index: 2; }
      #about-header .container-fluid .text {
        position: absolute;
        overflow: hidden;
        display: block;
        color: #f0f0f0;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        direction: rtl;
        width: 100%;
        float: none;
        z-index: 3; }
        #about-header .container-fluid .text h1 {
          color: #f0f0f0;
          font-weight: 500; }
        #about-header .container-fluid .text p {
          font-size: 1.2rem; } }
